<div class="nav-close">
    <i class="fa fa-times-circle"></i>
</div>
<div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle J_menuItem" href="/Home/_Welcome">
                    <span class="clear">
                        <span class="block m-t-xs" style="font-size:20px;">
                            <i class="fa fa-line-chart"></i>
                            <strong class="font-bold"> &nbsp; Fineex</strong>
                        </span>
                    </span>
                </a>
            </div>
            <div class="logo-element">
                FBS
            </div>
        </li>

        <li class="active">
            <a href="#">
                <span class="nav-label">jjdjdgdkgd</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="https://www.baidu.com" onclick="return false;">百度1</a>
                        </li>
            </ul>
        </li>

        <li >
            <a href="#">
                <span class="nav-label">45546655</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="J_menuItem" href="https://www.baidu.com" onclick="return false;">百度2</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
